  <div class="search-box-container" data-ng-controller='filterCtrl'>
      <form id='query' data-parsley-validate action="./submit" method="get" autocomplete="off">
        <input type="submit" class="search-button" value="Search">
        <input type='text' name="q" class="search-box" placeholder="Keywords" value="{{ params['q'] }}" autofocus>
        <table class="filter">
		<tr class="filter_item" ng-repeat="filter in filterlist">
            <td><select ng-model="filter.selected" required ng-options="item as item.label for item in filters track by item.id">
            </select></td>
            <td><input data-parsley-type="number" name="{[ filter.selected.name ]}_min" value="{[ filter.selected.min ]}" placeholder="From:"/></td>
            <td><input data-parsley-type="number" name="{[ filter.selected.name]}_max" value="{[ filter.selected.max ]}" placeholder="To:"/></td>
		</tr>
        <!--{% for filter in filterlist %}-->
        <!--<tr class="filter_item">-->
            <!--<td><select>-->
                <!--<option value="mainValue" {% if filter.name == "mainValue" %}selected="selected"{% endif %}>Value</option>-->
                <!--<option value="precision" {% if filter.name == "precision" %}selected="selected"{% endif %}>Error</option>-->
                <!--<option value="magnitude" {% if filter.name == "magnitude" %}selected="selected"{% endif %}>Magnitude</option>-->
                <!--<option value="pvalue" {% if filter.name == "pvalue" %}selected="selected"{% endif %}>p-value</option>-->
                <!--<option value="int_ratio" {% if filter.name == "int_ratio" %}selected="selected"{% endif %}>Integer Ratio</option>-->
                <!--<option value="float_ratio" {% if filter.name == "float_ratio" %}selected="selected"{% endif %}>Real Ratio</option>-->
                <!--<option value="mean" {% if filter.name == "mean" %}selected="selected"{% endif %}>Mean</option>-->
                <!--<option value="std" {% if filter.name == "std" %}selected="selected"{% endif %}>StdDev</option>-->
                <!--<option value="range" {% if filter.name == "range" %}selected="selected"{% endif %}>Range</option>-->
                <!--<option value="accuracy" {% if filter.name == "accuracy" %}selected="selected"{% endif %}>Accuracy</option>-->
                <!--<option value="mag" {% if filter.name == "magnitude" %}selected="selected"{% endif %}>Magnitude</option>-->
            <!--</select></td>-->
            <!--<td><input name="{{ filter.name }}_min" value="{{ filter.min }}"/></td>-->
            <!--<td><input name="{{ filter.name }}_max" value="{{ filter.max }}"/></td>-->
		<!--</tr>-->
        <!--{% endfor %}-->
        <tr>
            <td style="border:none;">Filter:</td>
            <td class="dummy"><input disabled/></td>
            <td class="dummy"><input disabled/></td>
            <td style="border:none;"><button class="addFilter" type="button" onclick="addfilter()" ng-click="addFilter()">Add Filter</button></td>
		</tr>
		</table>
    </form>
  </div>
