<!DOCTYPE html>
<html lang='en' ng-app="filter">
   <head>
   {% include 'head.html' %}
   <link rel='stylesheet' href='/static/css/judge.css'>
   </head>

<body>
   <!-- Title and search box -->
   <!-- Title and search box -->
   <header class="jumbotron">
     <h1 class="title"><a href="http://boston.lti.cs.cmu.edu/eager/deusre/index.html">EAGER</a></h1>
     {% include 'header.html' %}
     <div class="info">
       <a href="http://boston.lti.cs.cmu.edu/eager/deusre/about/neuroelectro.html">Find more about the dataset</a>
     </div>
     <a class="logout" href="judge/logout">Log out</a>
   </header>

   <!-- Listing of search results -->
   <main class="results-container">
      {% if params != None and len != 0 %}
      <p class="notice">
         NOTICE: The results are displayed in RANDOM order. <br>
         Please examine the first 5 results to familiarize yourself with the topic
         before starting to make relevance assessments.
      </p>
      {% endif  %}
      {% if params != None and len == 0 %}
      <p class="notice">No results found.</p>
      {% endif  %}
      <section class='results'>
         {% for hit in hits %}
         <article class='result'>

            {% include 'table.html' %}

            <br>
            <!-- Radio button for judgements -->
            <image class="rel-mark" src="/static/image/question.jpg" style="width:15px" title="* Key: This table is dedicated to the topic; authoritative and comprehensive, it is worthy of being a top result in a table search engine;

* HRel: The content of this table provides substantial information on the topic;

* Rel: The content of this table provides some information on the topic, which may be minimal;

* Non: The content of this table does not provide useful information on the topic, but may provide useful information on other topics, including other interpretations of the same query;

* Broken: This table is broken or not readable."/>
            Degree of Relevance: 
            Broken <input type="radio" name="rel_{{hit.id}}" value=0>
            Non <input type="radio" name="rel_{{hit.id}}" value=1>
            Rel <input type="radio" name="rel_{{hit.id}}" value=2>
            HRel <input type="radio" name="rel_{{hit.id}}" value=3>
            Key <input type="radio" name="rel_{{hit.id}}" value=4>
            <span id="rel_{{hit.id}}" style="display:none">{{hit._id}}</span>
         </article>
         {% endfor %}

         {% if params != None and len != 0 %}
         <button class="save-button" onclick="save()">Save</button>
         {% endif  %}
      </section>
   </main>

   <script>
      function save() {
          var i = 0;
          var reldict = {};
          for (;i<{{len}};i++) {
              var rel = $("input[name=rel_"+i+"]:checked").val();
              if (typeof rel == 'undefined') {
                  alert("You have unjudged tables for this query.")
                  return;
              }
              var tableId = $("span#rel_"+i).text();
              reldict[tableId] = rel;
          }
          var judge = {};
          judge['query'] = $('form').serializeArray();
          judge['prel'] = reldict;
          // post result to server here
          // redirect to new search page if succeed
          $.post("judge/result", JSON.stringify(judge), function(data) {
              if (data == 'succeed') {
                  alert("Your assesments have been successfully saved!");
                  window.location.replace('judge');
              } else {
                  // server side failed to store judge result
                  alert("Server side failure!");
              };
          }).fail(function() {
              alert("Data sending failure!");
          });
      };
   </script>
   </body>
</html>
