<!DOCTYPE html>
<html lang='en' ng-app="filter">
<head>
    <meta charset='utf-8'>
    <title>Scientific Data Search</title>
    <link rel='stylesheet' href='/static/css/reset.css'>
    <link rel='stylesheet' href='/static/css/index.css'>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/parsley.min.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/filter.js"></script>
    <script>
       function toggle(id) {
           $("tbody#"+id+"-preview").toggle();
           $("tbody#"+id+"-full").toggle();
       };
        function addfilter() {
            var res = $(".results-container");
            var newtop = String(parseInt(res.css("padding-top").slice(0,-2)) + 40) + "px";
            res.css("padding-top", newtop);
        };
    </script>
</head>

<body>
<!-- Title and search box -->
<header class="jumbotron">
 <h1 class="title"><a href="http://boston.lti.cs.cmu.edu/eager/deusre/index.html">EAGER</a></h1>
 {% include 'header.html' %}
 <div class="info">
   <a href="http://boston.lti.cs.cmu.edu/eager/deusre/about/neuroelectro.html">Find more about the dataset</a>
 </div>
</header>

<!-- Listing of search results -->
<main class="results-container">
    {% if params and len != 0 %}
    <h2 class="notice">This is a {{ qtype }} query.</h2>
    {% endif  %}
    {% if params and len == 0 and q in params and len(params[q]) != 0 %}
    <p>No results found.</p>
    {% endif  %}
  <section class='results'>
    {% for hit in hits %}
    {% if hit.source == 'neuroelectro' %}
    <article class='result highlight'>
    {% else %}
    <article class='result'>
    {% endif %}
    {% include 'table.html' %}
    </article>
    {% endfor %}
  </section>
</main>

<!-- Load resources -->
</body>
</html>
