<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <title>Scientific Data Search</title>
    <link rel='stylesheet' href='/static/css/reset.css'>
    <link rel='stylesheet' href='/static/css/index.css'>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/parsley.min.js"></script>
</head>

<!-- Title and search box -->
<header class="jumbotron">
  <h1 class="title"><a>EAGER</a></h1>
  <div class="search-box-container">
      <form data-parsley-validate action="./" method="get">
        <input type="submit" class="search-button" value="Search">
        <input type='text' name="q" class="search-box" placeholder="Keywords" value="{{ params['q'] }}" autofocus>
        <table class="filter">
		<tr>
		<td>Field Name</td> <td align="center">Lower Bound</td> <td align="center">Upper Bound</td>
		</tr>
		<tr>
		<td>value:</td>
        <td><input data-parsley-type="number" name="mainValue_min" value="{{ params['mainValue_min'] }}"/></td>
		<td><input data-parsley-type="number" name="mainValue_max" value="{{ params['mainValue_max'] }}"/></td>
		</tr>
		<tr>
		<td>error:</td>
		<td><input data-parsley-type="number" name="precision_min" value="{{ params['precision_min'] }}"/></td>
		<td><input data-parsley-type="number" name="precision_max" value="{{ params['precision_max'] }}"/></td>
		</tr>
		<tr>
		<td>magnitude:</td>
		<td><input data-parsley-type="number" name="magnitude_min" value="{{ params['magnitude_min'] }}"/></td>
		<td><input data-parsley-type="number" name="magnitude_max" value="{{ params['magnitude_max'] }}"/></td>
		</tr>
        <tr>
		<td>p-value:</td>
		<td><input data-parsley-type="number" name="pvalue_min" value="{{ params['pvalue_min'] }}"/></td>
		<td><input data-parsley-type="number" name="pvalue_max" value="{{ params['pvalue_max'] }}"/></td>
        </tr>
        <tr>
        <td>intager ratio:</td>
        <td><input data-parsley-type="number" name="int_ratio_min" value="{{ params['int_ratio_min'] }}"/></td>
        <td><input data-parsley-type="number" name="int_ratio_max" value="{{ params['int_ratio_max'] }}"/></td>
        </tr>
        <tr>
        <td>real ratio:</td>
        <td><input data-parsley-type="number" name="float_ratio_min" value="{{ params['float_ratio_min'] }}"/></td>
        <td><input data-parsley-type="number" name="float_ratio_max" value="{{ params['float_ratio_max'] }}"/></td>
        </tr>
        <tr>
        <td>mean:</td>
        <td><input data-parsley-type="number" name="mean_min" value="{{ params['mean_min'] }}"/></td>
        <td><input data-parsley-type="number" name="mean_max" value="{{ params['mean_max'] }}"/></td>
        </tr>
        <tr>
        <td>standard deviation:</td>
        <td><input data-parsley-type="number" name="std_min" value="{{ params['std_min'] }}"/></td>
        <td><input data-parsley-type="number" name="std_max" value="{{ params['std_max'] }}"/></td>
        </tr>
        <tr>
        <td>range:</td>
        <td><input data-parsley-type="number" name="range_min" value="{{ params['range_min'] }}"/></td>
        <td><input data-parsley-type="number" name="range_max" value="{{ params['range_max'] }}"/></td>
        </tr>
        <tr>
        <td>accuracy:</td>
        <td><input data-parsley-type="number" name="accuracy_min" value="{{ params['accuracy_min'] }}"/></td>
        <td><input data-parsley-type="number" name="accuracy_max" value="{{ params['accuracy_max'] }}"/></td>
        </tr>
        <tr>
        <td>magnitude:</td>
        <td><input data-parsley-type="number" name="mag_min" value="{{ params['mag_min'] }}"/></td>
        <td><input data-parsley-type="number" name="mag_max" value="{{ params['mag_max'] }}"/></td>
        </tr>
		</table>
    </form>
  </div>
</header>

<!-- Listing of search results -->
<main class="results-container">
    {% if len == 0 %}
    <p>No results found.</p>
    {% endif  %}
  <section class='results'>
    {% for hit in hits %}
    <article class='result'>
        <h2>{{ hit.score }}</h2>
      <h2>{{ hit.caption }}</h2>
      <h3>From: {{ hit['article-title']}}</h3>
      <p>{{hit.journal}}, {{hit.issn}}, {{hit.volume}}, {{hit.issue}}, {{hit.page}}, {{hit.date}}</p>
      <p>
          <b>Authors: </b>
          <span>{{ ", ".join(hit.authors) }}</span>
      </p>
      <p>
          <b>Keywords: </b>
          <span>{{ ", ".join(hit.keywords) }}</span>
      </p>
      <br>
      <table>
          <thead>
            {% for row in hit.header_rows %}
              <tr>
                {% for header in row %}
                  <th>
                    {{ header.value }}
                  </th>
                {% endfor %}
              </tr>
            {% endfor %}
          </thead>
          <tbody>
          {% for row in hit.data_rows %}
          <tr>
            {% for value in row %}
                <td id="cell" class="highlight_{{ value.highlight }}">
                {{ value.text }}
                </td>
            {% endfor %}
          </tr>
          {% endfor %}
          </tbody>
      </table>
    </article>
    {% endfor %}
  </section>
</main>

<!-- Load resources -->
</body>
</html>
