<!--<h2>{{ hit.score }}</h2>-->
<h2><a href="{{ hit.link }}">{{ hit['caption'] }}</a></h2>
<table class="meta">
    <col width="180px">
    <tr><td><b>Paper Title:</b></td> <td>{{ hit['article-title']}}
    </td></tr>
    {% if hit['journal']|length > 0 %}<tr><td><b>Journal:</b></td> <td>{{ hit['journal']}}
    </td></tr>{% endif %}
    {% if hit['date']|length > 0 %}<tr><td><b>Publication Date:</b></td> <td>{{ hit['date']}}
    </td></tr>{% endif %}
    <tr>
        <td></td>
        <td>
    <a class="toggle right" onclick="toggle({{hit.id}})">Show/Hide Complete</a>
        </td>
    </tr>
</table>
<br>
<table>
    <thead>
    {% for row in hit.header_rows %}
        <tr>
        {% for header in row %}
            <th>
            {{ header.value }}
            </th>
        {% endfor %}
        </tr>
    {% endfor %}
    </thead>
    <tbody id="{{ hit.id }}-preview" {% if hit.header_rows|length > 0 %}style="display:none"{% endif %}>
    {% if 'data_rows' in hit %}
        {% for row in hit.data_rows[:2] %}
        <tr>
            {% if row %}
            {% for value in row %}
                <td id="cell" class="highlight_{{ value.highlight }}">
                {{ value.text }}
                </td>
            {% endfor %}
            {% endif %}
        </tr>
        {% endfor %}
    {% endif %}
    </tbody>
    <tbody id="{{ hit.id }}-full" style="display:none">
    {% if 'data_rows' in hit %}
        {% for row in hit.data_rows %}
        <tr>
            {% if row %}
            {% for value in row %}
                <td id="cell" class="highlight_{{ value.highlight }}">
                {{ value.text }}
                </td>
            {% endfor %}
            {% endif %}
        </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
