select#domain {
    margin-left:2px;
    float: left;
}

select#subdomain {
    width: 406px;
}

a.caption {
    text-decoration:none;
}

sup {
    vertical-align: super;
    font-size: medium;
}

.bottom-center {
    margin-left: 220px;
}

