.neuro-title {
  display: inline-block;
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 23px;
  margin: 10px 10px 0 10px;
}
.instruction {
    position: absolute;
    top: 0px;
    left: 138px;
}
.logout {
    position: absolute;
    top: 57px;
    left: 637px;
}
.rel-scales {
    margin-top: 5px;
}
.rel-radio {
    margin-left: 10px;
    margin-right: 5px;
}
.rel-mark {
    width: 15px;
    margin-left: 20px;
    vertical-align: text-bottom;
}
.rel-mark:hover {
    cursor: help;
}
table.meta {
    border-collapse: separate;
    border-spacing: 0 5px;
}
.meta tr,
.meta td {
    padding: 0 0 0 0;
    border: none;
    line-height: 15px;
}
.save-button {
    width: 100%;
    max-width: 390px;
    height: 60px;
    cursor: pointer;
    font-size: 27px;
    text-transform: uppercase;
    background: #337ab7;
    letter-spacing: 1px;
    font-weight: 700;
    border: 4px solid #fff;
    border-radius: 5px;
    color: #fff;
    /*margin-left: 30px;*/
}
.save-button:hover,
.save-button:active {
    color: #337ab7;
    background: #fff;
    border: 4px solid #337ab7;
}
.my-custom-theme {
    max-width: 600px;
    border-radius: 5px; 
    border: 2px solid #337ab7;
    background: #fefefe;
    color: black;
}
.my-custom-theme .tooltipster-content {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 16px;
    padding: 8px 10px;
}
